* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body{
    
    display: flex;
    justify-content: center;
    align-items: center;
  background-color: black;
    position: relative;
}

.mp video{
    
    height: 100vh;
    width: 100%;
    background-color: black;
    
}



.contain{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -500px;
    padding-left: 80px;
}

.contain div{
    margin: 0px 80px;
    font-size: 250px;
    color: aliceblue;
}

img{
    height: 200px;
    animation: heart 1s linear infinite;
}

@keyframes heart {
    0%{
        transform: scale(1);
    }
    33%{
        transform: scale(1.25);
    }
    50%{
        transform: scale(1);
    }
    60%{
        transform: scale(1.35);
    }
    100%{
        transform: scale(1);
    }

}
