.trans{
    height: 100px;
    width: 100px;
    background-color: deeppink;
    margin: 100px;
}

.translate{
    transition: 1s;
}

.translate:hover{
    transform: translate(500px, 0px);
    

}

.rotate{
transition: 1s;
}

.scale{
transition: 1s;
}

.skew{
    transition: 1s;
}

.rotate:hover{
    transform: rotate(360deg);
}

.scale:hover{
    transform: scale(2, 2);
}

.skew:hover{
    transform: skewx(180deg);
}

.rotatex{
    transition: 1s;
}
.rotatex:hover{
    transform: rotateX(360deg);
}
.rotatey{
    transition: 1s;
}
.rotatey:hover{
    transform: rotateY(360deg);
}
.rotatez{
    transition: 1s;
}
.rotatez:hover{
    transform: rotateZ(-360deg);
}

.good{
    transition: 1s;
}
.good:active{
    transform: rotate(360deg);
}