*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.border{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 270px;
    width: 270px;
    background-color: #222222;
    border-radius: 30px;
    overflow: hidden;

}

.border::before{
    position: absolute;
    content: '';
    width: 150%;
    height: 150%;
    background: repeating-conic-gradient(rgb(217, 232, 13) 30deg, rgb(255, 38, 0) 50deg, transparent 100deg);
    animation: animate 4s linear infinite;
}

@keyframes animate{
    
    100%{
        transform: rotate(360deg);
     } 
}

.border::after{
    position: absolute;
    display: flex;
    content: 'Border Animation';
    justify-content: center;
    align-items: center;
    height: 260px;
    width: 260px;
    background-color: #201f1f;
    border-radius: 30px;
    font-size: 25px;
    color: yellow;

}